# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
__pycache__/

# Android
.gradle/
local.properties
*.keystore
*.jks
*.apk
*.aab
*.flat
captures/
.externalNativeBuild/
.cxx/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
*.swp
*.lock
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.uitest
*.xcscheme
*.xcworkspace

# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Replit/Misc
.cache/
.local/
