# Flutter
.dart_tool/
build/
.artifacts/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db